/*** TAG STYLING ***/

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {

}

/*** CLASS STYLING ***/

.header-div {
    background-color: #286466;
}

.ul-navigation-links {
    display: inline;
}

.div-navigation-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8FB1B3;
    display: inline;
}

li {
    float: center;
    display: inline;
}
li a:hover {
    background-color: #DCFEFF;
}
/*** ID STYLING ***/

#my-name {
    font-size: 4rem;
}

#my-occupation {
    font-size: 2rem;
}

/* #id {

}
*/